{% load static %}

<!doctype html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard - RenovateEnergy (Static)</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
	<link href="{% static 'css/font.css' %}" rel="stylesheet" />
    <script src="{% static 'js/cdn/cdn.tailwindcss.js' %}"></script>
    <script src="{% static 'js/cdn/jsdelivr.js' %}"></script>
</head>

{% block content %}{% endblock %}

<script type="module">
    import { fetchDashboardData } from "{% static 'js/apiFetch.js' %}";
    
    // Configuration des URLs
    window.DATA_URLS = {
        buildings: "{% static 'data/stats_batiments.json' %}",
        types: "{% static 'data/stats_types.json' %}",
        dpe: "{% static 'data/stats_dpe.json' %}"
    };
    
    // Utilisation
    fetchDashboardData().then(data => {
        console.log('Données chargées:', data);
    });
</script>
<!-- Main Application Entry Point uses ES Modules -->
	<script type="module" src="{% static 'js/controllers/mainController.js' %}"></script>
</body>

</html>